* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Manrope', sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-4 {
    width: 33.3333%;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.col-8 {
    width: 66.6666%;
    padding: 0 23px;
}

/*HEADER*/

.header {
    position: absolute;
    top: 16px;
    z-index: 2;
    right: 0;
    left: 0;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.menu li{
    display: inline-block;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.menu-link {
    margin-left: 32px;
    color: #18191F;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
}

.badge img:first-child {
    display: inline-block;
    margin-right: 12px;
}

/*HERO*/

.hero {
    padding: 186px 0 58px;
    min-height: 866px;
    background: url("../img/png/Background.png") no-repeat center/cover;
}

.hero-container {
    position: relative;
}

.hero-content {
    padding-top: 72px;
    max-width: 730px;
}

.hero-img {
    position: absolute;
    top: 0;
    right: 0;
}

.content-title {
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    color: #18191F;
    margin-bottom: 32px;
}

.content-btn {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: #8C30F5;
    border-radius: 8px;
    text-align: center;
    padding: 16px 41px;
}

/*LOGO-CLOUDS*/

.clouds-content::before {
    content: "";
    position: absolute;
    top: 0;
    width: 1110px;
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}

.clouds-content {
    position: relative;
    margin: 16px 0;
    padding: 41px 0;
    display: flex;
    justify-content: center;
}

.clouds-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1110px;
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}

.clouds-content-logo:not(:last-child) {
    margin-right: 64px;
}

/*Feature*/

.feature {
    padding: 64px 0 0;
    text-align: center;
}

.feature-title {
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
}

.feature-subtitle {
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
    margin-bottom: 48px;
}

.feature-col {
    padding: 0 15px;
}

.feature-box {
    margin-bottom: 64px;
}

.feature-box-title {
    margin-top: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #18191F;
}

.feature-box-desc {
    line-height: 26px;
    color: #18191F;
}

/*TESTIMONIAL*/

.testimonial {
    padding: 120px 0 80px;
    position: relative;
    background: #D5FAFC;
}

.testimonial-img {
    position: absolute;
    top: 64px;
    left: 165px;
}

.testimonial-title {
    max-width: 445px;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}

.testimonial-subtitle {
    margin: 8px 0 24px;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}

.review-box {
    background: #FFFFFF;
    padding: 32px;
    max-width: 350px;
    border-radius: 8px;
}

.quote-mini {
    float: left;
}

.review-box-margin {
    margin-left: 32px;
}

.review-box-float {
    float: right;
}

.review-box-airbnb {
    max-width: 445px;
    margin-bottom: 32px;
}

.review-box-item {
    margin: 32px 0 0 0;
}

.review-box-item-desc {
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
    margin-bottom: 24px;
}

.review-box-item-person {
    font-size: 18px;
    line-height: 28px;
    color: #18191F;
}

.review-box-item-work {
    line-height: 24px;
    color: #969BAB;
}

/*STATS*/

.stats-row {
    display: flex;
}

.stats-col {
    width: 50%;
}

.stats {
    padding: 82px 0;
}

.stats-title {
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
}

.stats-subtitle {
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
}

.stats-item {
    display: flex;
    margin-bottom: 40px;
}

.stats-item-title {
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}

.stats-item-subtitle {
    font-size: 16px;
    line-height: 26px;
    color: #18191F;
}

.stats-item-content {
    margin-left: 16px;
}

/*FEATURE-HEAD*/

.feature-head {
    padding: 64px 0;
    position: relative;
    background: #FFFFFF;
}

.feature-head-box-img {
    position: relative;
    width: 100%;
    height: 540px;
    background: #F1E4FF;
    border-radius: 8px;
}

.feature-head-box-img img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.feature-head-box {
    margin: 0 48px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.feature-head-box-title {
    font-size: 40px;
    line-height: 54px;
    color: #18191F;
}

.feature-head-box-desc {
    margin: 32px 0;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
}

.feature-head-box-link {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #8C30F5;
}

.feature-flex {
    display: flex;
    align-items: center;
}

/*FASHION*/

.fashion {
    padding: 64px 0;
}

.fashion-box {
    height: 108px;
}

.fashion-title {
    font-size: 40px;
    line-height: 54px;
    color: #18191F;
}

.fashion-desc {
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
}

.fashion-img {
    width: 100%;
    margin-top: 48px;
}

/*CTA*/

.cta {
    padding: 68px;
    background: #2EC5CE;
}

.cta-container {
    position: relative;
}

.cta-content {
    max-width: 540px;
    margin-bottom: 48px;
}

.cta-title {
    margin-bottom: 8px;
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
}

.cta-subtitle {
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
}

.cta-app {

}

.cta-app-desc {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 28px;
    color: #18191F;
}

.cta-app img:not(:last-child) {
    margin-right: 12px;
}

.phone-mockup {
    position: absolute;
    right: 25%  ;
    top: -68px;
}

.phone-mockup-2 {
    position: absolute;
    right: 0;
    bottom: -68px;
}

/*FOOTER*/

.footer {
    padding: 56px;
    background: #0B0D17;
}

.footer a {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy {
    line-height: 24px;
    color: #D9DBE1;
}

.badges-desc {
    font-size: 18px;
    line-height: 28px;
    color: #D9DBE1;
}

.footer-badges {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-store {
    margin: 16px 0;
}

.download {
    margin-top: 24px;
}

.footer-links {
    margin: 12px 0 24px;
}

.footer-links a:not(:last-child){
    margin-right: 24px;
}

.download a:first-child {
    margin-right: 24px;
}
